*/bin/*
packages/
bin/
*.suo
desktop.ini
*.user
**/obj/*
*.mdf
*.ldf
/.vs/MediaMining/DesignTimeBuild/.dtbcache.v2
/.vs/MediaMining/DesignTimeBuild/*
/.vs/MediaMining/DesignTimeBuild/
/.vs/MediaMining/BlogTemaplate/out/
/.vs/ProjectEvaluation
/.vs/MediaMining/FileContentIndex
